<settings>
    <setting id="DefaultCDN" value="Default" />
    <setting id="Etagid034b3126b7a416d59a5b41a533e0def7" value='&quot;290618c6133c3952b5caf4cdfdce594de616e5ef&quot;' />
    <setting id="Etagid13b48ba238a84618cb7bbb1072294a21" value='&quot;cc2558543d499aadf38bb93a4fae4674a225d022&quot;' />
    <setting id="Etagid1a89a8712477cb1f74a40819acef21ec" value='&quot;fe1b16a5e70a034f2aae2c64ab2afcb9e2faabc2&quot;' />
    <setting id="Etagid21e0ba61630101146f3b60c2d5e3181c" value='&quot;bdfc6c81241a48601e9056179c99eba63793d70f&quot;' />
    <setting id="Etagid228a0aca4e143f53d28cb5c9f2f66aad" value='&quot;6a1a8fc925321415797dae1d89f9dfa8a504d86e&quot;' />
    <setting id="Etagid3f4a434df55c859ef14ad1d2633d2d08" value='&quot;6332d167adcfe4d68c20265d12cbe37f86ec4bd4&quot;' />
    <setting id="Etagid47d583218aac0a37099f6ac1b3fc6368" value='&quot;afdea72fba31ca2d4b27006ae20a0d1639db0499&quot;' />
    <setting id="Etagid4ec9723e7afa807c5523bbeb69ba6a69" value='&quot;57fe6a419f8a10cdf69ab2c2acf62b8717f1c262&quot;' />
    <setting id="Etagid5209d2c822470bdf94b5965c856ce239" value='&quot;c484ba1027fa2e939c73ba5c78572c804a136b2b&quot;' />
    <setting id="Etagid55534230569d83312cf691a811a2a9d0" value='&quot;86befb8e42c052c6d109d2773ffaeda237e290fb&quot;' />
    <setting id="Etagid6264e968d67c877864ee20aa8a976e97" value='&quot;1d8d469aa2bb550052361fea7d2b7b4da7005e7c&quot;' />
    <setting id="Etagid7645504b061d5f6d2301c897841f9909" value='&quot;d6334c4306085036ae4e0ae5bb53b5dc184dc3c6&quot;' />
    <setting id="Etagid7c0264f3cdfc9b1a30d69a38a53411fc" value='&quot;7449930640f7891aec3271fc2b2fef3633d8c40a&quot;' />
    <setting id="Etagid9424512ab7b0385cd238b7fd6d0774d1" value='&quot;f784c513fe9dbb60a758cac05c63463ee823333b&quot;' />
    <setting id="Etagid982c0227ad29a6da4dc9d9ddb53c30c9" value='&quot;35679605bab7395b45e9158e200c481bb9c2663b&quot;' />
    <setting id="Etagid9cbb604f9fb9a914c49522954fe31679" value='&quot;cdca340608f4b9002bcbaf55ae9806688a9940f0&quot;' />
    <setting id="Etagida01065a02ba520cdeb3dee7286391a3b" value='&quot;ffaf59f79f81e867997371ddb85481cc0d2726be&quot;' />
    <setting id="Etagidacbfe4b17a39d61d08ac4c33fe986361" value='&quot;a715e0cac4916a68b30506de3313342d6498a442&quot;' />
    <setting id="Etagidad8a49156fa241013ce7549c146df193" value='&quot;592aeb4fa428deaa1195bc5ab607932801d55128&quot;' />
    <setting id="Etagidb60d356794b5eb2ad917f7f5ee9af6ea" value='&quot;6bf4b6de5ee2e1e5256e3b39a4681cbab619469f&quot;' />
    <setting id="Etagidb6ca00404b083282c34eace793b8e2ad" value='&quot;6b96e230f77529d41ecd810f565d184424b1f6ac&quot;' />
    <setting id="Etagidbba5391f45ba562e8f34b3c92e460e04" value='&quot;4b8a3deab7cca19c06fccecba27b9ab2f544e12c&quot;' />
    <setting id="Etagidbda509640a73bbc7810a1b045f1673da" value='&quot;beff3cd8d67bf88bf3d32d292271e4a545687adc&quot;' />
    <setting id="Etagidcbd72d1e68baa7f4fad69be1b39d1a82" value='&quot;a1e3874fa35bfd1dbfdf22c4e91cca3880b4c549&quot;' />
    <setting id="Etagidcbe3e5f0630cfd7985eb064744b8c646" value='&quot;52e23b322f2a084343bc35f72a69e8bae67af6c0&quot;' />
    <setting id="Etagidcd186ba0378488829812b321f44642d7" value="655n" />
    <setting id="Etagidce227bd57911b17f3e717bdb9a0445be" value='&quot;a416d26f36c3d4467c6e8fde23c3e44535b4ccde&quot;' />
    <setting id="Etagiddc2bf3a5e0f893e21916be3524704d66" value='&quot;71eb3d45261b67c04b785b8a60727718e83a945b&quot;' />
    <setting id="Etagide00ed2158e5effb54f35bdf737be1e3d" value='&quot;051070eef09455e592cc3eee45b0aaceb9ac6c01&quot;' />
    <setting id="Etagide01cc86991bf095683dd8bcc44cc4a44" value='&quot;7bd3cdc3eaa5d8d542f2b15e768252ec48f5815b&quot;' />
    <setting id="Etagidefe4b216173fe22ea47ae1efea6b0381" value='&quot;4852361df92a159f106940a727aee28dc929254c&quot;' />
    <setting id="Etagidfbcc5336763e1e8494f6efe9def65db3" value='&quot;dc938d979ebfeb0cbc3a44cb233cdc62075235c0&quot;' />
    <setting id="GLArabServerHD" value="Try All" />
    <setting id="GLArabServerLOW" value="Try All" />
    <setting id="GLArabServerLOWNP" value="Try All" />
    <setting id="GLArabServerLR" value="Try All" />
    <setting id="GLArabServerMED" value="Try All" />
    <setting id="GLArabUserName" value="Anonymous" />
    <setting id="GLArabUserPwd" value="Anonymous" />
    <setting id="GLproxyName" value="127.0.0.1" />
    <setting id="KARPWD" value="" />
    <setting id="KARUSER" value="" />
    <setting id="ShahidVodLogin" value="" />
    <setting id="ShahidVodPwd" value="" />
    <setting id="YOPWD" value="" />
    <setting id="YOUSER" value="" />
    <setting id="clearLogonSettings" value="false" />
    <setting id="filmonDontPlayplayHigh" value="False" />
    <setting id="icdnSourceDisabled" value="false" />
    <setting id="isEmadSourceDisabled" value="false" />
    <setting id="isFilmonSourceDisabled" value="false" />
    <setting id="isGLArabSourceDisabled" value="false" />
    <setting id="isGLCommonProxyEnabled" value="false" />
    <setting id="isGLProxyEnabled" value="false" />
    <setting id="isIPTVPlanetSourceDisabled" value="false" />
    <setting id="isLocalSourceDisabled" value="false" />
    <setting id="isOfficialSourceDisabled" value="false" />
    <setting id="isPCSourceDisabled" value="false" />
    <setting id="isProxyEnabled" value="false" />
    <setting id="isShaniSourceDisabled" value="false" />
    <setting id="isTeledunetcomSourceDisabled" value="false" />
    <setting id="isTelvzaSourceDisabled" value="false" />
    <setting id="isZombiSourceDisabled" value="false" />
    <setting id="iskarSourceDisabled" value="false" />
    <setting id="islivetvtnSourceDisabled" value="false" />
    <setting id="ismagictvBoxSourceDisabled" value="false" />
    <setting id="isssSourceDisabled" value="false" />
    <setting id="isttvSourceDisabled" value="false" />
    <setting id="isyoSourceDisabled" value="false" />
    <setting id="lastupdate" value="15/11/2015" />
    <setting id="liveTvLogin" value="" />
    <setting id="liveTvNonPremiumCode" value="" />
    <setting id="liveTvPassword" value="" />
    <setting id="liveTvPremiumCode" value="" />
    <setting id="localstreampath" value="" />
    <setting id="localyoutubexmlpath" value="" />
    <setting id="order1" value="Teledunet.com" />
    <setting id="order10" value="FilmOn" />
    <setting id="order11" value="Official" />
    <setting id="order12" value="Telvza" />
    <setting id="order13" value="IPTVPlanet" />
    <setting id="order14" value="ss" />
    <setting id="order15" value="ttv" />
    <setting id="order16" value="cdn" />
    <setting id="order17" value="yo" />
    <setting id="order18" value="kar" />
    <setting id="order2" value="livetv.tn" />
    <setting id="order3" value="Shani" />
    <setting id="order4" value="PC" />
    <setting id="order5" value="Zombi" />
    <setting id="order6" value="Local" />
    <setting id="order7" value="GLArab" />
    <setting id="order8" value="magictvBox" />
    <setting id="order9" value="Emad" />
    <setting id="playFirstChannel" value="false" />
    <setting id="playOneByOne" value="False" />
    <setting id="proxyName" value="" />
    <setting id="stopAutoUpdate" value="False" />
    <setting id="teledunetRetryCount" value="5" />
    <setting id="teledunetTvLogin" value="" />
    <setting id="teledunetTvPassword" value="" />
    <setting id="usethisviewmode" value="" />
</settings>
